<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home - My App</title>
</head>
<body>
    <h1>Home</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('weather') }}">Weather Dashboard</a></li>
            <li><a href="{{ url_for('nasa') }}">NASA Picture of the Day</a></li>
            <li><a href="{{ url_for('book') }}">Book Search</a></li>
            <li><a href="{{ url_for('book_recommend') }}">Book Recommend</a></li>
            <li><a href="{{ url_for('search_books') }}">Book Recommend</a></li>
            <li><a href="{{ url_for('my_library') }}">Book Recommend</a></li>
        </ul>
    </nav>
</body>
</html>
